@import "../../style/variable";

.underline {
    text-decoration: underline;
}

#root > header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-theme-primary;

    @media only screen and (min-width: 1024px) {
        padding: 20px 50px;
    }

    img {
        width: 140px;
    }

    ul {
        display: flex;

        li {
            padding-left: 15px;

            @media only screen and (min-width: 1024px) {
                padding-left: 50px;
            }

            a {
                color: $color-theme-primary;
                font-family: $font-stack;
                font-weight: 500;
                text-transform: uppercase;
                white-space: nowrap;
                font-size: 12px;

                @media only screen and (min-width: 1024px) {
                    text-transform: none;
                    white-space: normal;
                    font-size: 20px;
                }
            }
        }
    }
}
