@import "../../style/variable";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-theme-primary;
    padding: 20px 50px;

    img {
        height: 40px;
        width: 115px;
    }

    ul {
        display: flex;
        li {
            list-style: none;
            padding-left: 50px;
            a {
                color: $color-theme-primary;
                font-family: $font-stack;
                font-weight: 500;
            }
            &:nth-of-type(1) {
                a {
                    text-decoration: underline;
                }
            }
        }
    }

    @media only screen and (max-width : 375px) {
        margin-bottom: 50px;
        padding: 20px;

        img {
            height: 50px;
            width: 140px;
        }

        ul li {
            padding-left: 15px;
            a {
                text-transform: uppercase;
                white-space: nowrap;
                font-size: 12px;
            }
        }
    }
}
