@import '../../style/_variable.scss';

.banner {
    position: relative;

    img {
        height: 100%;
        border-radius: 25px;
    }

    .overlayImg {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        border-radius: 25px;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-family: $font-stack;
            font-weight: 500;
            font-size: 35px;
        }
    }

    @media only screen and (max-width: 375px) {
        height: 110px;

        img {
            border-radius: 10px;
            object-fit: cover;
        }

        .overlayImg {
            border-radius: 10px;
            justify-content: left;
            padding-left: 20px;

            p {
                font-size: 24px;
                line-height: 100%;
                width: 70%;
            }
        }
    }
}
