@import '../../style/_variable';

.collapse {
    margin-bottom: 20px;

    @media only screen and (min-width: 1024px) {
        width: 50%;
    }

    .collapseHeader {
        cursor: pointer;
        background-color: $color-theme-primary;
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;

        @media only screen and (min-width: 1024px) {
            height: 50px;
            align-items: center;
            padding: 5px 10px 5px 20px;
            border-radius: 10px;
        }

        p {
            color: #FFFFFF;
            font-size: 13px;
            font-family: $font-stack;
            margin-bottom: 0;
            
            @media only screen and (min-width: 1024px) {
                font-size: 16px;
            }
        }

        span {
            color: #FFFFFF;
            font-size: 13px;
            font-family: $font-stack;

            @media only screen and (min-width: 1024px) {
                font-size: 25px;
            }
        }
    }

    .collapseBody {
        background-color: #F7F7F7;
        padding: 20px 10px 5px 10px;
        color: $color-theme-primary;
        font-size: 12px;
        font-family: $font-stack;
        font-weight: 400;

        @media only screen and (min-width: 1024px) {
            font-size: 15px;
            list-style: none;
            border-radius: 10px;
            min-height: 200px;
        }

        .equipment {
            font-weight: 400;
        }
    }
}
