@import '../../style/_variable';

.containerRating {
    span {
        background-color: #FFF;
        border: none;
        height: 30px;

        .star {
            @media only screen and (max-width: 1024px) {
                height: 60px;
            }
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            margin-right: 3px;
        }
    }

    .on {
        color: $color-theme-primary;
    }

    .off {
        color: #E3E3E3;
    }
}