@import "../../style/variable";

footer {
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    img {
        height: 40px;
        width: auto;
        margin: 0 0 20px 0;

        @media only screen and (min-width: 1024px) {
            margin-top: 20px;
        }
    }

    p {
        font-size: 12px;

        @media only screen and (min-width: 1024px) {
            font-size: 24px;
            font-weight: 400;
        }
    }
}
